@media(max-width: 500px){
    .content-nav > a{
        display: none;
    }
    .links{
        height: 200px; 
        padding: 20px;
        flex-direction: column;
    }
    .links >a{ 
        padding: 10px;
    }
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 75px;
        align-items: center;
    }
    .footer-info{
        width: 100%;
        align-items:center;
        flex-direction: column;
    }
 
}


@media(max-width: 684px){
    .content-nav >a{
        display: none;
    }
}
@media(max-width: 736px){
    .content-nav >a{
        display: none;
    }
}