body {
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ffff;
    padding: 20px;
}

.content-nav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.btn-rounded-dark {
    background-color: #000;
    border-radius: 20px;
    padding: 12px;
    color: #ffff;
}

.btn-rounded-light {
    background-color: #ffff;
    border-radius: 20px;
    padding: 12px;
    color: #000;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.header-content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main-content {
    text-align: center;
    text-transform: uppercase;
}

.main-content>h1 {
    color: #ffff;
    text-shadow: 1px 1px 2px #000;
}

.links {
    display: flex;
    justify-content: space-around;
}

footer {
    height: 11vh;
    background-color: #ffff;
    display: flex;
    justify-content: center;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}