body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.591);
    padding: 20px;
}

.content-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-rounded-dark {
    background-color: #000;
    border-radius: 20px;
    padding: 12px;
    color: #ffff;
}

.btn-rounded-light {
    background-color: #ffff;
    border-radius: 20px;
    padding: 12px;
    color: #000;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.header-content {
    height: 80vh;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main-content {
    text-align: center;
    /* text-transform: uppercase; */
}

.main-content>h1 {
    color: #ffff;
    text-shadow: 1px 1px 2px #000;
}

.links {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* padding: 50px; */
    height: 50px;
    background-color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
}